.modal_panel {
    position: fixed;
    background: rgba(0,0,0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_panel_content {
    padding: 4vh;
    background-color: #1c1c1d;
    border-radius: 2vh;
    min-width: 40vh;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
