.panel_button {
    padding: 0.5em 1.2em;
    height: 100%;
    /* margin: 0em 0.2em; */
    background-color: #1c1c1d;
    color: #d8d8d8;
    border: #d8d8d8 0px solid;
    /* border-radius: 0.7em 0.7em 0em 0em; */
    cursor: pointer;
    font-size: 0.9em;
}

.panel_button:active {
    background-color: #2d2d2f;
}

.panel_button::before {
    background-color: #2d2d2f;
}

/* #1c1c1d */