.scene_page {
  color: #d8d8d8;
  display: flex;
}

.scene {
  padding-top: 3em;
  display: inherit;
  width: 100%;
}

.panel {
  position: fixed;
    height: 3em;
    width: 100%;
    background-color: #1c1c1d;
    /* opacity: 60%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0em 2em;
  }