* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(28, 28, 29);
  height: 100%;
  width: 100%;

  /* text-align: center; */
  justify-content: center;
  text-align: center;
}

.app_name {
  color: #d8d8d8;
  align-self: center;
  justify-self: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: #1b1b1b;
  color: #d8d8d8;
  height: auto;
  width: 100%;
}

.canvas {
  background-color: #6da4a0;
  color: #dc143c;
  height: 100%;
  width: 100%;
}

.scene_canvas {
  height: 43em;
  width: 100%;
  background-color: #dc143c;
}

.panel {
  height: 2em;
  background-color: #58585a;
  /* opacity: 60%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0em 1em;
}

.panel_button {
  height: 1em;
  width: 1em;
  background-color: #d8d8d8;
}

.page_list_container {
  display: flex;
  flex-direction: row;
}

.card {
  width: 280px;
  height: 350px;
  background-color: #58585a;
  margin: 2em;
}

.card_text {
  color: #d8d8d8;
  font-size: 1.6em;
}

